{% extends "base.html" %}

{% block title %}Actors{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Actors: </h1>
    <div class="row bottom-margin">
      <a href="/actors/add" class="btn btn-primary" role="button" aria-disabled="true">Add Actors</a>
    </div>
  {% if actors %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
    {% for actor in actors %}
      <tr>
        <th scope="row">{{actor.id}}</th>
        <td>{{actor.name}}</td>
        <td>{{actor.age}}</td>
        <td>
          <a href="/actors/edit/{{actor.id}}" class="btn btn-success" role="button">Edit</a>
          <a href="/actors/delete/{{actor.id}}" class="btn btn-danger" role="button">Delete</a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% else %}
  <h3>actors table is empty</h3>
  {% endif %}
{%endblock%}
