{% extends "base.html"%}
{% block title %}Edit Actors {% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5"><i class="fa fa-music" aria-hidden="true"></i> Edit Actor:</h1>
    <form action="/actors/edit/{{actor.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{actor.name}}" required="true">
      </div>
      <div class="form-group">
        <label>Age</label>
        <textarea class="form-control" name="age" required="true">{{actor.age}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
  {% endblock %}
