{% extends "base.html"%}
{% block title %}Delete Movie{% endblock %}
{% block content %}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-music" aria-hidden="true"></i> Delete the following song:</h1>
    <form action="/movies/delete/{{movie.id}}" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="title" value="{{movie.title}}" required="true" readonly="true">
      </div>
      <div class="form-group">
        <label>Year</label>
        <input class="form-control" type="text" name="year" value="{{movie.year}}" readonly="true">
      </div>
      <div class="form-group">
        <label>Description</label>
        <input class="form-control" type="text" name="description" value="{{movie.description}}" readonly="true">
      </div>
      <div class="form-group">
        <label>Actor</label>
        <input class="form-control" type="text" name="actor" value="{{movie.actor.name}}" readonly="true">
      </div>
      <button type="submit" class="btn btn-danger" id="delete_btn">Delete</button>
    </form>
  </div>

{% endblock%}
